
{% extends 'OroUIBundle:actions:view.html.twig' %}
{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroEntityConfigBundle::macros.html.twig' as entityConfig %}
{% import 'OroDataGridBundle::macros.html.twig' as dataGrid %}

{% oro_title_set({params : {"%entity.subject%": entity.summary|default('N/A') }}) %}

{% block navButtons %}
    {% if resource_granted('EDIT', entity) %}
        {{ UI.editButton({
            'path' : path('magecore_testtaskoro.issue_update', { id: entity.id }),
            'entity_label': 'Issues'|trans
        }) }}
    {% endif %}

    {% if resource_granted('DELETE', entity) %}
        {{ UI.deleteButton({
            'dataUrl': path('magecore_testtaskoro_api_delete_issue', {'id': entity.id}),
            'dataRedirect': path('magecore_testtaskoro_issue'),
            'aCss': 'no-hash remove-button',
            'id': 'btn-remove-vehicle',
            'dataId': entity.id,
            'entity_label': 'Issues'|trans,
        }) }}
    {% endif %}
    {% if resource_granted('CREATE', entity) and (entity.story)%}
        {{ UI.addButton({
            'path': path('magecore_testtaskoro.issue_subtask_create', {'id': entity.id}),
            'label': 'Create subtask'
        }) }}
    {% endif %}
{% endblock navButtons %}

{% block pageHeader %}
    {% set breadcrumbs = {
    'entity':      entity,
    'indexPath':   path('magecore_testtaskoro_issue'),
    'indexLabel': 'Issues'|trans,
    'entityTitle': entity.summary
    } %}
    {{ parent() }}
{% endblock pageHeader %}

{% block content_data %}
    {% set data %}
    <div class="widget-content">
        <div class="row-fluid form-horizontal">
            <div class="responsive-block">
                {{ UI.renderProperty('magecore.testtaskoro.issue.summary.label'|trans, entity.summary) }}
                {{ UI.renderProperty('magecore.testtaskoro.issue.code.label'|trans, entity.code) }}
                {{ UI.renderProperty('magecore.testtaskoro.issue.description.label'|trans, entity.description) }}
                {{ UI.renderProperty('magecore.testtaskoro.issue.type.label'|trans, entity.type) }}
                {{ UI.renderProperty('magecore.testtaskoro.issue.priority.label'|trans, entity.priority) }}
                {{ UI.renderProperty('magecore.testtaskoro.issue.resolution.label'|trans, entity.resolution) }}
                {%- set ownerData -%}
                {%- if entity.reporter -%}
                    {% if resource_granted('oro_user_user_view') %}
                        <a href="{{ path('oro_user_view', {'id': entity.reporter.id}) }}">
                            {{ entity.reporter|oro_format_name|escape }}
                        </a>
                    {% else %}
                        {{ entity.reporter|oro_format_name|escape }}
                    {% endif %}
                {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('magecore.testtaskoro.issue.reporter.label'|trans, ownerData) }}

                {%- set assigneeData -%}
                {%- if entity.assignedTo -%}
                    {% if resource_granted('oro_user_user_view') %}
                        <a href="{{ path('oro_user_view', {'id': entity.assignedTo.id}) }}">
                            {{ entity.assignedTo|oro_format_name|escape }}
                        </a>
                    {% else %}
                        {{ entity.assignedTo|oro_format_name|escape }}
                    {% endif %}
                {%- endif -%}
                {%- endset -%}
                {{ UI.renderHtmlProperty('magecore.testtaskoro.issue.assigned_to.label'|trans, assigneeData) }}

                {% if entity.subtask %}
                {%- set parentData -%}
                    <a href="{{ path('magecore_testtastoro.issue_view', {'id': entity.parentIssue.id}) }}">
                        {{ entity.parentIssue|escape }}
                    </a>
                {%- endset -%}

                {{ UI.renderHtmlProperty('magecore.testtaskoro.issue.parent_issue.label'|trans, parentData) }}
                {% endif %}

                {% if entity.story %}
                    <div class="row-fluid">
                        {{ dataGrid.renderGrid('issue-subtask-grid', {parentId: entity.id}) }}
                    </div>

                {% endif %}

            </div>
        </div>
    </div>
    {% endset %}
    {% set dataBlocks = [
    {
    'title': 'Data'|trans,
    'class': 'active',
    'subblocks': [
    { 'data' : [data] }
    ]
    }
    ] %}

    {% set id = 'vehicleView' %}
    {% set data = { 'dataBlocks': dataBlocks } %}
    {{ parent() }}
{% endblock content_data %}